html {
  height: 100%;
  width: 100%;
}
h1{
  font-family: "comic sans", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffe5ea;
}

h1 {
  font-family: "comic sans", sans-serif;
}